<nav class="flex items-center justify-between px-6 py-4 bg-white shadow w-full">
    <img src="" alt="logo" class="h-6 w-6" />
    <div class="flex items-center justify-center gap-4">
      <a href="#" class="text-sm font-medium text-indigo-600">Home</a>
      <a href="#" class="text-sm">Doctors</a>
      <a href="#" class="text-sm">Specialities</a>
      <a href="#" class="text-sm">Book Appointment</a>
      <a href="#" class="text-sm">Contact</a>
    </div>
    <div class="flex items-center gap-2">
      <button class="border border-gray-300 text-gray-700 text-sm px-3 py-1.5 rounded-md font-medium hover:bg-gray-100 transition" routerLink="/auth">
        Login / Signup
      </button>
    </div>
  </nav>